<div>

  <div>
    <div class="mx-3">

      <h4 class="pt-5">ASIGNACIÓN DE TARJETAS</h4>


      <span class="pt-3" style="font-weight: 400;">
        Datos de usuario a tarjetas
      </span>
    </div>


    <form [formGroup]='form' class="row mt-3 mx-3">

      <div class="row">

        <div class="col-12 col-md-4">
          <label>Clave del empleado:</label>
          <mat-form-field appearance="outline">
            <input matInput type="email">
          </mat-form-field>

        </div>
        <div class="col-12 col-md-4">
          <label>No. Tarjeta:</label>
          <mat-form-field appearance="outline">
            <input matInput type="email">
          </mat-form-field>

        </div>
        <div class="col-12 col-md-4">
          <label>Producto:</label>
          <mat-form-field appearance="outline">
            <mat-select formControlName='product'>
              <mat-option *ngFor="let product of products" [value]="product.value">
                {{product.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>


    </form>


    <div class="py-4 mx-md-3" style="background-color: #ffffff;">
      <div class="mx-1 row d-flex align-items-center">

        <div class="col-12 col-md-5 col-lg-4">
          <label>Nombre TH:</label>
          <mat-form-field appearance="outline">
            <input matInput type="email">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <button type="button" style="background-color: #ffffff; border-color: #F5093E;" class="btn w-100">
            <span style="color: #F5093E;">Buscar</span>
          </button>
        </div>

        <div class="col-12 col-md-4 col-lg-3 mt-3 mt-md-0">
          <button type="button" style="background-color: #F5093E; color: #ffffff;" class="btn w-100">
            <div class="container d-flex justify-content-center">
              <span>Exportar</span>
              <mat-icon style="margin-left: .5em;">cloud_upload</mat-icon>
            </div>
          </button>
        </div>


      </div>
    </div>


    <div class="mx-md-3">
      <div class="table-responsive">
        <table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource"
          class="mat-elevation-z8 demo-table">
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th [mat-sort-header]='column' style="background-color: #F2F2F2;" mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row; let i = index"
              [ngStyle]="{'background-color': i%2 != 0?'#F2F2F2': '#FFFFFF', 'color': (column.columnDef === 'amount')?(row.deposit ?'green' : 'red'):'black' }">
              {{column.cell(row)}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>

  </div>


</div>