@import "./../general-styles.scss";

.blue-icon {
  color: #11266c;
}


.pointer {
  cursor: pointer;
  user-select: none;
}

#card-font {
  font-size: 1em;
  color: white;
  font-weight: 600;
}
.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #f2f2f2;
}

.date-container {
  width: 100%;
  border: 1px solid #11266c;
}

.card {
  width: 230px;
  height: 130.1px;
  background-color: #1a1919;
  border-radius: 15px;
}


.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}



@media (max-width: 575.98px) {
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }
  
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }

  .mat-column-description{
    width: 50%;
  }
  
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card {
    height: 135px;
    width: 260px;
  }
  .mat-column-description{
    width: 60%;
  }
  .mat-column-amount{
    width: 20%;
  }
  .mat-column-date{
    width: 20%;
  }
}

@media (min-width: 1600px) {
  .card {
    height: 150px;
    width: 288.5px;
  }
  #card-font {
    font-size: 1.12em;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.grow2 {
  transition: all 0.2s ease-in-out;
}
.grow2:hover {
  transform: scale(1.5);
}
